{% extends "base.html" %}
{% block links %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
 {% endblock links %}
 {% block estilos %}
<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-flex;
    }
    li {    
        padding-left: 20px;
    }
    h6 {
      padding-top:20px
     }
</style>
{% endblock %}
{% block titulo%}
<title>
    Empleado
</title>
{% endblock titulo%}
{% block extra_inicio %}
<!-- Button trigger modal -->
    <li class="nav-item active">
      <a class="nav-link" href="/listado_empleos_aplicados/"> Empleos aplicados<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Buscar Empleo
      </button>
    </li>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Buscador</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="GET" action="/busqueda_empleo/">
                <select name="criterio_busqueda" class="selectpicker" multiple data-live-search="true", required="true">
                  {% for empleo in tipos_empleos %} 
                    <option value="{{empleo}}">{{empleo}}</option>
                  {% endfor %}
                  </select>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
      <script>
        $('select').selectpicker();
      </script>
{% endblock extra_inicio %}
{% block extra_navbar %} 
  <li class="nav-item">
      <a class="nav-link" href="/actualizar_datos_empleado/{{empleado.id}}">Datos Personales</a>
  </li>
{% endblock extra_navbar %}
{% block cuerpo %}
    {% if empleos_interes %}
      <h2>Recomendaciones</h2>
      <ul style="padding-top:20px">
        {% for empleo in empleos_interes %}
          <li>
            <div class="card" style="width: 18rem; height: 30rem;">
              {% if not empleo in empleado.empleos_aplicados %}
                <h6 class="card-subtitle mb-2 text-muted">
                  <a href="/aplicar_empleo/{{empleo.id}}"> Aplicar </a>
                <h6>
              {% else %}
                  {% for solicitud in solicitudes %}
                    {% if empleo.id == solicitud.empleo_id %}
                      {% if solicitud.aceptado %}
                        <h6 class="card-subtitle mb-2 text-muted">Ya fuiste aceptado<h6>
                      {% else %}
                        <h6 class="card-subtitle mb-2 text-muted">Solicitud Enviada<h6>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">Empleador: {{empleo.empleador.datos_usuario.username}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{empleo.fecha_publicacion}}</h6>
                <p>
                  {% for tipo_empleo_asociado in empleo.tipo_empleo.all %}
                    <span class="badge badge-danger">#{{tipo_empleo_asociado}}</span>
                  {% endfor %}
                </p>
                <p class="card-text">{{empleo.descripcion}}</p>
                <p class="card-text">Años de experiencia: {{empleo.anios_experiencia}} </p>  
                {% for tipo_empleo_asociado in empleo.tipo_empleo.tipos_asociados %}
                  <span class="badge badge-danger">#{{tipo_empleo_asociado}}</span>
                {% endfor %}
                {% if empleo.idiomas %}
                  <div id="idiomas">
                    <p class="card-text"> Idioma </p>
                    {% for idioma in empleo.idiomas %}
                      <span class="badge badge-success">#{{idioma}}</span>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
    </ul>
    {% else %}
      <div class="alert alert-danger">
          <h3 href="#" style="text-align: center;" class="alert-link"> No te tenemos recomendaciones </h3>
      </div>   
    {% endif %}

{% endblock %}